@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  font-family: 'Ubuntu', sans-serif;
}

body::before {
  content: '';
  margin-bottom: -500px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  background-image: url(../img/background.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60vmax;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  body::before {
    opacity: 0.6;
  }
}

.custom-nav .navbar-brand img {
  width: 45px;
  height: 45px;
  margin-top: -7px;
}

.custom-nav .navbar-brand span {
  color: #2C2A55;
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 0.4em;
}

.custom-nav #navbarNav .navbar-nav .nav-item .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  background-color: white;
  border-radius: 1em;
  padding-right: -30px;
  padding-left: -30px;
}

.custom-nav #navbarNav .navbar-nav .nav-item .dropdown-menu:hover {
  color: white;
}

@media screen and (max-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item .dropdown-menu:hover {
    color: #445ab2;
  }
}

.custom-nav #navbarNav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #2C2A55;
  font-weight: 500;
  padding-right: -30px;
  padding-left: -30px;
}

@media screen and (max-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    text-align: center;
  }
}

.custom-nav #navbarNav .navbar-nav .nav-item .dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  text-align: center;
  color: #2C2A55;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 2.4em;
  -webkit-transition: .3s color ease;
  transition: .3s color ease;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: white;
}

@media screen and (max-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    margin-right: 1.6em;
  }
  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: #445ab2;
  }
}

.custom-nav #navbarNav .navbar-nav .nav-item .contact-button {
  background-color: white;
  color: #2C2A55;
  text-align: center;
  border-radius: 2em;
  border: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 5em;
}

.custom-nav #navbarNav .navbar-nav .nav-item .contact-button:hover {
  color: #e6e6e6;
  background-color: #2c2a55;
}

@media screen and (max-width: 992px) {
  .custom-nav #navbarNav .navbar-nav .nav-item .contact-button {
    margin-left: 1.4em;
  }
  .custom-nav #navbarNav .navbar-nav .nav-item .contact-button:hover {
    color: #445ab2;
    background-color: white;
  }
}

@media screen and (max-width: 992px) {
  .custom-nav {
    margin-top: -1em;
  }
}

.custom-section {
  margin-top: 10em;
}

.custom-section h2 {
  font-weight: 700;
  font-size: 4rem;
  color: #2C2A55;
  white-space: nowrap;
  line-height: 1;
}

.custom-section h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #6578C4;
  white-space: nowrap;
  line-height: 1;
}

.custom-section p {
  font-size: 1rem;
  color: #212529;
  margin-top: 2em;
}

.custom-section a {
  margin-top: 2.2em;
  display: inline-block;
  color: white;
  background-color: #EE8926;
  border-radius: 2em;
  padding: 0.5em 2em;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-weight: 500;
  margin-left: 100px;
}

.custom-section a:hover {
  color: #EE8926;
  border: 1px solid #EE8926;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .custom-section {
    margin-top: 3em;
    text-align: center;
  }
  .custom-section h2, .custom-section h3, .custom-section p {
    text-shadow: 1px 1px 1px rgba(33, 37, 41, 0.3);
  }
  .custom-section h3 {
    color: #383f45;
  }
  .custom-section a {
    margin-left: -5px;
  }
}

@media screen and (max-width: 400px) {
  .custom-section h2 {
    font-size: 3rem;
  }
}

.lesson-panel {
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: 150px;
  background-color: whitesmoke;
  padding: 30px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.lesson-panel img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.lesson-panel h4 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.lesson-panel p {
  font-size: 0.9em;
  color: #2C2A55;
  margin-top: -5px;
  font-weight: 300;
}

.lab-info {
  margin-top: 140px;
}

.lab-info h3, .lab-info p {
  margin-left: 3px !important;
}

.lab-info img {
  border-radius: 1em;
}

.lab-info h3 {
  font-size: 3.2em;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
}

.lab-info h3 span {
  font-weight: 500;
}

.lab-info p {
  font-size: 1.1em;
  color: #2C2A55;
  font-weight: 300;
  margin: 30px 0;
}

.lab-info .tombol-asisten .dropdown-menu {
  text-align: center;
  width: 237px;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  background-color: #EE8926;
  color: black;
  border-radius: 1em;
  padding-right: -30px;
  padding-left: -30px;
}

.lab-info .tombol-asisten .dropdown-menu a {
  color: black;
}

@media screen and (max-width: 992px) {
  .lab-info .tombol-asisten .dropdown-menu .dropdown-item {
    color: black;
    font-weight: 500;
    padding-right: -30px;
    padding-left: -30px;
  }
  .lab-info .tombol-asisten .dropdown-menu .dropdown-item a:hover {
    color: black;
    border-radius: 2em;
  }
}

@media screen and (max-width: 992px) and (max-width: 992px) {
  .lab-info .tombol-asisten .dropdown-menu .dropdown-item {
    text-align: center;
    background-color: transparent;
  }
}

.lab-info .tombol-asisten .dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.lab-info .button-asisten {
  background-color: #2C2A55;
  color: whitesmoke;
  border-radius: 2em;
  background-color: #EE8926;
  border: none;
  margin-bottom: 50px;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-weight: 400;
}

@media screen and (min-width: 990px) {
  .lab-info .button-asisten {
    margin-left: 150px;
  }
}

.lab-info .button-asisten:hover {
  color: #EE8926;
  border: 1px solid #EE8926;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .lab-info {
    text-align: center;
  }
  .lab-info p, .lab-info h3 {
    margin-left: 25px;
  }
  .lab-info h3 {
    font-size: 2.5em;
  }
  .lab-info img {
    margin-left: -30px;
    margin-right: 10px;
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  }
}

.footer {
  margin-top: 100px;
}

.footer p {
  color: #2C2A55;
  font-size: 1.1em;
}
/*# sourceMappingURL=main.css.map */