// Font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

// Variables
$primaryColor: #EE8926;
$secColor: #2C2A55;
$thrdColor: #9296D3;
$textColor: #6578C4;

//Mixin
@mixin button {
    display: inline-block;
    color: white;
    background-color: $primaryColor;
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}


//style
body {
    font-family: 'Ubuntu', sans-serif;
    &::before {
        content: '';
        background-image: url(../img/background.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 60vmax;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 992px) {
            opacity: 0.6;
            
        }
    }
}

//NAVBAR
.custom-nav {
    .navbar-brand {
        img {
            width: 45px;
            height: 45px;
            margin-top: -7px;
        }
        span {
            color: $secColor;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.4em;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link{
                    text-align: center;
                    color: $secColor;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 2.4em;
                    transition: .3s color ease;

                    &:hover {
                        color: lighten(white, 50%);
                    }

                    @media screen and (max-width: 992px) {
                        &:hover {
                            color: darken($textColor, 10%);
                    }
                        
                    }
                    
                }
                .contact-button {
                    background-color: white;
                    color: $secColor;
                    text-align: center;
                    border-radius: 2em;
                    border: 0;
                    padding-left: 1.5em;
                    padding-right: 1.5em;

                    &:hover {
                        color: darken($textColor, 10%);
                    }

                    @media screen and (max-width: 992px){
                        background-color: $secColor;
                        color: white;

                        &:hover {
                            color: darken($textColor, 10%);
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        margin-top: -1em;
    }
}

//custom section
.custom-section {
    margin-top: 10em;
    h2 {
        font-weight: 700;
        font-size: 4rem;
        color: $secColor;
        white-space: nowrap;
        line-height: 1;
    }

    h3 {
        font-weight: 400;
        font-size: 1.5rem;
        color: $textColor;
        white-space: nowrap;
        line-height: 1;
    }
    p {
        font-size: 1rem;
        color: #212529;
        margin-top: 2em;
    }

    a{
        margin-top: 2.2em;
       @include button; 
       border: 1px solid transparent;
       transition: 0.5s ease;
       font-weight: 500;
       margin-left: 100px;

       &:hover {
           color: $primaryColor;
           border: 1px solid $primaryColor;
           background-color: transparent;
       }
    }

    @media screen and (max-width: 992px) {
        margin-top: 3em;
        text-align: center;
        h2, h3, p {
            text-shadow: 1px 1px 1px rgba(#212529, 0.3);
        }
        h3 {
          color: lighten(#212529, 10%);
        }
        a {
            margin-left: -5px;
        }
    }

    @media screen and (max-width: 400px) {
        h2{
            font-size: 3rem;
        }
    }
}

// Lesson Panel
.lesson-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 100px;
    background-color: whitesmoke;
    padding: 30px;

    img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 5px;
    }

    p {
        font-size: 0.9em;
        color: $secColor;
        margin-top: -5px;
        font-weight: 300;
    }

}

// lab-info
.lab-info {
    margin-top: 120px;

    img {
        border-radius: 1em;
    }

    h3 {
        font-size: 3.2em;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 30px;
        span {
            font-weight: 500;
        }
    }

    p {
        font-size: 1.1em;
        color: $secColor;
        font-weight: 300;
        margin: 30px 0;
    }

    .button-asisten {
        border-radius: 2em;
        background-color: $primaryColor;
        border: none;
        margin-bottom: 50px;
    }

    @media screen and (max-width: 992px) {
        text-align: center;
        p, h3, a {
            margin-left: 25px;
        }

        h3 {
            font-size: 2.7em;
        }

        img {
            margin-left: -30px;
            margin-right: 10px;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
        }
    }

    @media screen and (min-width: 992px) {
        .button-asisten {
            margin-left: 145px;
        }
    }
 

}

// footer
.footer {
    margin-top: 100px;
    p {
        color: $secColor;
        font-size: 1.1em;
    }
}